

<div class="container">
  
<div class="header">
  <div class="row text-white bg-dark">
  <div class="col-md-12">
  <a href="#default" class="logo"><img class="image-responsive" src="https://www.e-filing.com/images/e_Filing_logo.jpg" alt="Card image cap">
  </a>
  <img class="image-responsive" src="https://www.e-filing.com/Images/final-logo.png" alt="Card image cap">
                
  <div class="header-right">
    <a class="btn btn-link text-white" routerLink="#">Faq</a>
    <a class="btn btn-link text-white" routerLink="contact">Contact</a>
    <a class="btn btn-secondary btn-sm" routerLink="view" >view Demo</a>
  </div> 
</div>
</div>

<div class="row">
  <div class="col-md-2">
    <a class="btn btn-link" routerLink="">Home</a>
  </div>
  <div class="col-md-2">
    <a class="" routerLink="about">About Us</a>
  </div>
  <div class="col-md-2">
    <a class="" routerLink="guide">How to Guide</a>
  </div>
  <div class="row">
    <div class="col-md-12">
    <img class="img-responsive" src="https://www.e-filing.com/Images/Center_image_old.jpg" style="width:110%;height:110%;">
  </div>
</div>
</div>
</div>
</div>