<div class="container">
    <div class="footer">
        <div class="row">
            <div class="col-md-1">
                    <img src="https://www.e-filing.com/images/Home_icon.jpg" alt="">
            </div>
            <div class="col-md-2">
              <p>  6464 Hollister Suite 7G 
                Goleta, CA 93117</p>
        </div>
        <div class="col-md-1">
          
      </div>
        <div class="col-md-1">
        <img src="https://www.e-filing.com/images/Phone_icon.jpg" alt="">
      </div>
      <div class="col-md-2">
          <p>
            For Technical Support
            800-207-6807
            Monday-Friday
            8.00 AM to 5.00 PM
          </p>
                </div>
                <div class="col-md-1">
                </div>
            <div class="col-md-1">
                <img src="https://www.e-filing.com/images/email_icon.jpg" alt="">
          </div>
          <div class="col-md-2">
                
                    <a class="btn btn-link" routerLink="technical"> Technical Support</a>
                
        </div>
        </div>
        <div class="row" style="background-color: darkgray;">
            <p style="text-align: center;">© 2015 e-filing.com</p>
        </div>
    </div>
</div>
  