<div class="container">
    <form> 
        <div class="row">
            <div class="col">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
               <u> <h4 style="text-align: center;">Payment Page</h4> </u>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <br>
            </div>
        </div>
        
        <div class="form-group row">
            
                <label for="first" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="">
            </div>
            <label for="last" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-2">
            <input type="text" class="form-control" formControlName="">
        </div>
        </div>
        <div class="form-group row">
            
                <label for="address" class="col-sm-2">Billing Address</label> <div class="col-sm-10">
                <textarea name="adress" class="form-control" rows="3"></textarea>
            </div>
        </div>
        
        <div class="form-group row">
            
            <label for="city" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-2">
            <input type="text" class="form-control" formControlName="">
        </div>
        <label for="state" class="col-sm-2 col-form-label">State</label>
        <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="">
    </div>
    </div>
    <div class="form-group row">
            
        <label for="zip" class="col-sm-2 col-form-label">Zip</label>
        <div class="col-sm-2">
        <input type="text" class="form-control" formControlName="">
    </div>
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-2">
    <input type="email" class="form-control" formControlName="" required>
</div>
</div>
<div class="form-group row">
    <div class="col-md-12">
    <h4>Credit Card Information</h4>
</div>
</div>
<div class="form-group row">
    <label for="city" class="col-sm-2 col-form-label">Card Type</label>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <select class="form-select" aria-label="Default select">
            <option selected>Master</option>
            <option value="1">Visa</option>
            <option value="2">Rupy</option>
            <option value="3">Credit card</option>
          </select>
</div>

<div class="col-sm-1">
<img src="../../../assets/amr.png" alt="">
</div>
<div class="col-sm-1">
    <img src="../../../assets/master.png" alt="">
    </div>
    <div class="col-sm-1">
        <img src="../../../assets/visa.png" alt="">
        </div>
</div>

<div class="form-group row">
    <label for="city" class="col-sm-2 col-form-label">Expiry Date</label>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <select class="form-select" aria-label="Default select">
            <option selected>Janury/option>
            <option value="1">Feb</option>
            <option value="2">March</option>
            <option value="3">April</option>
          </select>
</div>
    <div class="col-sm-2">
        <select class="form-select" aria-label="Default select">
            <option selected>2018</option>
            <option value="1">2019</option>
            <option value="2">2020</option>
            <option value="3">2021</option>
          </select>
</div>
</div>
<div class="form-group row">
    <label for="card" class="col-sm-2 col-form-label">New Card</label>
    <div class="col-sm-2"></div>
    <div class="col-sm-1">
        <input type="text" class="form-control" placeholder="1111">
</div>
    <div class="col-sm-1">
        <input type="text" class="form-control" placeholder="1111">
</div>
<div class="col-sm-1">
    <input type="text" class="form-control" placeholder="1111">
</div>
<div class="col-sm-1">
    <input type="text" class="form-control" placeholder="1111">
</div>
</div>
<div class="form-group row">
   
    <div class="col-sm-2">
        <img src="../../../assets/auth.png" alt="">
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <label class="">please enter 3 or 4 digit code that appears on the front or back of your credit card</label>
        <input type="text" class="form-control col-sm-2" placeholder="1111">
</div>
</div>
<div class="form-group row">
    <div class="col-sm-4"></div>
    <div class="col-sm-1">
        <button class="btn btn-primary">Continue</button>
</div>
    <div class="col-sm-1">
        <button class="btn btn-primary">Clear</button>
</div>
</div>

    </form>
</div>