/*.container{
    background-color: darkgray;
    margin: 100px;
    position: relative;
    size: 100px;
    margin-top: 100px;
    max-height: 200px; 
} */
.container{
background-color: darkgray;
max-width: 1295px;
height: 300px;
}

  @media screen and (max-width: 500px) {
    .container {
      float: none;
      display: block;
      text-align: left;
    }
    .container-right {
      float: none;
    }
  }