<div class="container">
    <form>
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <u>  <h4 style="text-align: center;">Attorney Page</h4> </u>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        <div class="form-group row">
            <label for="case-title" class="col-md-2 col-form-label">Case Title</label>
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="case-title" class="col-md-2 col-form-label"> Filler Information</label>
            
        </div>
        <div class="form-group row">
            <label for="bar-number" class="col-md-2 col-form-label">Attorney Bar Number</label>
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Attorney Name</label>
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="pro-party" class="col-md-2 col-form-label">Pro Per Party</label>
            <div class="col-md-3">
                <select class="form-select" aria-label="Default select">
                    <option selected>Select Pro Per Party</option>
                    <option value="1" selected></option>
                </select>
            </div>
            <label for="pro-party" class="col-md-2 col-form-label">Add New Party</label>
            <div class="col-md-3">
               <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-5">
                <input type="email" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="note" class="col-md-2 col-form-label">Attorney Note</label>
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="namep" class="col-md-2 col-form-label">Plaintiffy Name</label>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="test1">
            </div>
        </div>
        <div class="form-group row">
            <label for="named" class="col-md-2 col-form-label">Defendant Name</label>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="test2">
            </div>
        </div>
        <div class="form-group row">
            <label for="case-title" class="col-md-2 col-form-label"> Filling Information</label>
            
        </div>
        <div class="form-group row">
            <label for="dot" class="col-md-2 col-form-label">Document Type</label>
            <div class="col-md-5">
                <select class="form-select" aria-label="Default select">
                    <option selected>$50.000 CIVIL-Emancipation Of Minor</option>
                    <option value="1" selected>$40.000 CIVIL-Emancipation Of Minor</option>
                </select>
            </div>
            </div>
            <div class="form-group row">
                <label for="doc-title" class="col-md-2 col-form-label">Document Title</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="CIVIL">
                </div>
            </div>
            <div class="form-group row">
                <label for="attach" class="col-md-2 col-form-label">Attach Document</label>
                <div class="col-md-3">
                    <input type="file" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="pages" class="col-md-2 col-form-label"># of Pages</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="2">
                </div>
            </div>
            <div class="form-group row">
                <label for="fee" class="col-md-2 col-form-label">Fee</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="$50">
                </div>
            </div>
            <div class="form-group row">
                <label for="dot" class="col-md-2 col-form-label">Security</label>
                <div class="col-md-5">
                    <select class="form-select" aria-label="Default select">
                        <option selected>Public</option>
                        <option value="1" selected></option>
                    </select>
                </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary">Process</button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <button class="btn btn-primary">Exit</button>
                    </div>
                    </div>
    </form>
</div>