
<div class="container">
    <div class="content-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <p>If you are already registered with e-filing.com web portal then use registered Email Id and 
                         Password to login otherwise go to SignUp and register yourself. If you have any issue,
                        please feel free to call our support at 805-364-0033 ext 107.</p>
                </div>
            </div> 
            <table>
                <tr>
                <td> <div class="row">
                    <div class="col-md-9">
                        <div class="mb-4">
                            <p class=" text-titlecase">
                               <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                                  </svg>
                                  File your Court Document Online ! </i>
                                </p>
                            
                            <p class="dotted">
                        </div>
                    </div>
                        
            </div>
            </td>
            <td rowspan="3">
               <!--<div class="row">
                    <div class="col-md-12">
                <ul class="nav nav-tab list-inline">
                    <li class="active"><a data-toggle="pill" class href="#home">Home</a></li>
                    <li><a data-toggle="pill" href="">Menu 1</a></li>
                    <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
                  </ul> </div> </div> -->
              <!--  <div class="row">
                    <div class="col-lg-12">
                      <div class="card mt-3 tab-card">
                        <div class="card-header tab-card-header">
                          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="one-tab" data-toggle="tab" href="../dashboard/sign-in/sign-in.component.html" role="tab" aria-controls="One" aria-selected="true">One</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Two</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">Three</a>
                            </li>
                          </ul>
                        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
              <h5 class="card-title">Tab Card One</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>              
            </div>
            <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
              <h5 class="card-title">Tab Card Two</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>              
            </div>
            <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
              <h5 class="card-title">Tab Card Three</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>              
            </div>
  
                        </div>
                    </div>
                    </div> 
                    </div> -->
                </td> 
            </tr>    
                <!-- second row -->
        <tr>
         <td>  <div class="paragraphs">
                <div class="row">
                    <div class="col-md-9">
                  <div class="span4">
                    <img style="float:left" src="../../assets/home.jpg"/>
                    <div class="content-heading">
                     E-Filing.com, headquartered in Santa Barbara, California
                        began its operation in September of 1999. E-Filing.com offers 
                        state-of-the art electronic filing process based on the patent 
                        no. 7,035,830 that was granted to Image X in 2006. 
                        Filing cases electronically reduces the cost of filing, eliminating
                         much of the paper handling involved, and allows the courts to function
                          more efficiently. In addition, E-Filing.com's electronic filing 
                          process makes it possible for documents to be submitted to the courts
                           twenty-four hours a day from any location with Internet access.
                   
                </div>
                    </div> <br> 
                    <p class="dotted"></p> 
                </div>
                </div>
            </div>
            </td>
</tr>            
      <!--Thrid Row-->
      <tr>
      <td><div class="row">
        <div class="col-md-9">
            <div class="mb-4">
                <p class=" text-titlecase">
                   <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                      To use this site create a login ID and Password. </i>
                    </p>
                    <p>
                        1) Click Sign Up <br>
                        2) Complete the Form <br>
                        3) Write down your login ID and Password <br>
                    </p>
                
                
            </div>
        </div>
            
</div>
</td>
</tr>
</table>
        </div>
    </div>
    </div>

